extends layout

block content
  
  section.module.footer
  .container
    .row
      .col-xs-12
        | col-xs-12
      .col-xs-6
        | col-xs-6
      .col-xs-6
        | col-xs-6
      .col-xs-4
        | col-xs-4
      .col-xs-4
        | col-xs-4
      .col-xs-4
        | col-xs-4
      .col-xs-3
        | col-xs-3
      .col-xs-3
        | col-xs-3
      .col-xs-3
        | col-xs-3
      .col-xs-3
        | col-xs-3
