.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-4 {
	width: 33.33%;
}

.text-center {
	text-align: center;
}